* {box-sizing: border-box}

body {
    margin: 0;
    background: #000;
    font-family: "Century Gothic", helvetica, arial, sans-serif;
    font-size: 1.2em;
}

.container {
    height: 100vh;
    padding: 0;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header header header"
                         ". . ."
                         "footer footer footer";
    gap: .5rem;
}

header, section, footer {
    color: #fff;
    font-size: 1.4rem;
    font-weight: normal;
}
header {
    padding: 1rem;
    grid-area: header;
    background: dodgerblue;
    font-size: 160%;
}
section {
    background: #333;
    display: flex;
    flex-direction: column;
}
section .toolbar {
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
section .codepane {
    flex-grow: 1;
    background-color: #1e1e1e;
    color: #fff;
    border: none;
    resize: none;
}
footer {
    padding: 1rem;
    grid-area: footer;
    background: #1e1e1e;
}

.monaco-editor {
    position: absolute !important;
}
